In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/predicciones/predicciones_fecha_1.csv')

In [4]:
df = df.sort_values(by='Rating', ascending=False)
df

                 Player              team    Rating
312         Franco Jara          Belgrano  9.533132
0    Santiago Rodriguez         Instituto  8.896158
126      Ezequiel Barco       River Plate  8.805028
127     Facundo Colidio       River Plate  8.509732
313      Roger Martínez       Racing Club  8.460995
..                  ...               ...       ...
125      Matías Catalán          Talleres  4.898973
342    Facundo Cambeses       Racing Club  4.315188
311   Agustín Rodríguez             Lanús  4.188178
157  Santiago Laquidaín  Cen. Córdoba–SdE  4.016579
343       Nahuel Losada          Belgrano  3.999003

[434 rows x 3 columns]

In [13]:
df[df['team'] == 'Racing Club']

               Player         team    Rating
313    Roger Martínez  Racing Club  8.460995
314  Baltasar Gallego  Racing Club  8.321917
317   Johan Carbonero  Racing Club  7.172850
318   Leonardo Sigali  Racing Club  7.051604
320  Nazareno Colombo  Racing Club  6.582385
323     Santiago Sosa  Racing Club  6.433964
324     Gabriel Rojas  Racing Club  6.339808
325      Agustín Urzi  Racing Club  6.293866
330      Juan Nardoni  Racing Club  6.075089
331  Agustín Almendra  Racing Club  6.062185
334  Gastón Martirena  Racing Club  5.984989
336   Santiago Solari  Racing Club  5.941746
337   Marco Di Cesare  Racing Club  5.859345
338       Iván Pillud  Racing Club  5.754172
339    Ignacio Galván  Racing Club  5.384277
342  Facundo Cambeses  Racing Club  4.315188

In [14]:
df[df['team'] == 'Belgrano']

                 Player      team    Rating
312         Franco Jara  Belgrano  9.533132
315      Mariano Troilo  Belgrano  7.990770
316         Bryan Reyna  Belgrano  7.261414
319       Matias Moreno  Belgrano  6.600892
321    Facundo Lencioni  Belgrano  6.565976
322        Matías Marín  Belgrano  6.510602
326       Esteban Rolón  Belgrano  6.172595
327     Facundo Quignon  Belgrano  6.168179
328    Alejandro Rébola  Belgrano  6.110248
329    Gerónimo Heredia  Belgrano  6.076914
332  Francisco González  Belgrano  6.061327
333      Juan Velazquez  Belgrano  6.052989
335       Juan Barinaga  Belgrano  5.978005
340   Francisco Facello  Belgrano  5.367604
341       Agustín Baldi  Belgrano  5.191660
343       Nahuel Losada  Belgrano  3.999003